In [2]:
import numpy as np

import pandas as pd

In [22]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
    "key2" : pd.Series([1, 2, 1, 2, 1, None, 1],
    dtype="Int64"),
    "data1" : np.random.standard_normal(7),
    "data2" : np.random.standard_normal(7)})

# df.groupby(df["key1"]).aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")

df.groupby("key1").aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")

C:\Users\paulb\AppData\Local\Temp\ipykernel_16756\2747561318.py:9: FutureWarning: The provided callable <function mean at 0x000001F120E862A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("key1").aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")
C:\Users\paulb\AppData\Local\Temp\ipykernel_16756\2747561318.py:9: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("key1").aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")
C:\Users\paulb\AppData\Local\Temp\ipykernel_16756\2747561318.py:9: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("key1").aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")
C:\Users\paulb\AppData\Local\Temp\ipykernel_16756\2747561318.py:9: FutureWarning: The provided callable <function mean at 0x000001F120E862A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("key1").aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")
C:\Users\paulb\AppData\Local\Temp\ipykernel_16756\2747561318.py:9: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.groupby("key1").aggregate([np.mean, min, max]).stack(level=1).reset_index().set_index("key1")

     level_1  key2     data1     data2
key1
a       mean   1.5  0.680940 -0.445635
a        min   1.0  0.235458 -0.720560
a        max   2.0  0.991232 -0.190709
b       mean   1.5 -0.001092 -0.873546
b        min   1.0 -0.206897 -1.433110
b        max   2.0  0.204714 -0.313982

In [ ]:
rn_gen = np.random.default_rng(1)

people = pd.DataFrame(rn_gen.normal(1, 0.1, 25).reshape(5, 5),
    columns=["a", "b", "c", "d", "e"],
    index=["Joe", "Steve", "Wanda", "Jill", "Trey"])

people.groupby(lambda x: x.endswith("e")).sum()

col_classifier = dict()
for letter in "a", "e", "i", "o", "u": 
    col_classifier.update({letter: "vowel"})
for letter in "b", "c", "d", "f", "g", "h": 
    col_classifier.update({letter: "const"})

# we can use dictionaries directly to classify groups (rather than spawning a separate column with the mapping)
people.T.groupby(col_classifier).sum().T # note we use .T method, although using axis = "columns" was recommended in book but appears to be depracated for T

          const     vowel
Joe    2.984890  2.125094
Steve  3.040874  2.074051
Wanda  2.964735  1.954630
Jill   2.896536  2.034165
Trey   3.202519  1.729698