In [74]:
#!/usr/bin/env python3
# Pandas Practice Problems
# Based on Chapter 5 of "Python for Data Analysis" (3rd Edition)
# by Wes McKinney

import pandas as pd
import numpy as np
import datetime as dt

In [15]:

"""
Problem 1: Series Basics and Operations
Create a pandas Series from a dictionary, access elements by label and position,
and perform arithmetic operations.
"""

def problem_1():
    # Create a Series from a dictionary
    data_dict = {'apple': 10, 'orange': 8, 'banana': 12, 'grape': 15}
    fruits = pd.Series(data_dict)

    print(fruits)
    fruits.at["banana"]
    fruits.iat[0]
    fruits.iat[-1]
    fruits_2 = fruits * 2
    fruits_2 = fruits_2 + 5
    
    return  fruits_2[fruits_2 > 10]


problem_1()

apple     10
orange     8
banana    12
grape     15
dtype: int64

apple     25
orange    21
banana    29
grape     35
dtype: int64

In [37]:

"""
Problem 2: DataFrame Creation and Basic Operations
Create a DataFrame from a dictionary of Series, practice basic DataFrame operations
and demonstrate understanding of DataFrame structure.
"""

def problem_2():
    # Sample data about different electronic products
    data = {
        'product': ['laptop', 'tablet', 'phone', 'desktop', 'smartwatch'],
        'price': [1200, 600, 800, 1500, 300],
        'inventory': [10, 25, 40, 5, 30],
        'rating': [4.8, 4.5, 4.2, 4.7, 3.9]
    }
    tech_df = pd.DataFrame(data, index=data['product'])
    tech_df = tech_df.assign(value = tech_df["price"] * tech_df["inventory"])
    tech_df.sort_values(by = ["price"], ascending=False, inplace=True)
    tech_df = tech_df.assign(discount_price = 0.9 * tech_df['price'])
    tech_df = tech_df[tech_df["rating"] > 4.5]
    
    return  tech_df


problem_2()

         product  price  inventory  rating  value  discount_price
desktop  desktop   1500          5     4.7   7500          1350.0
laptop    laptop   1200         10     4.8  12000          1080.0

In [290]:

"""
Problem 3: Handling Missing Data
Demonstrate understanding of NaN values in pandas and methods to handle missing data.
"""

def problem_3():
    # Create a DataFrame with missing values
    df = pd.DataFrame({
        'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, 4, 5],
        'C': [1, 2, 3, np.nan, np.nan],
        'D': [np.nan, np.nan, np.nan, np.nan, np.nan]
    })
    a = df.isna().sum(axis = 0)
    b = df.dropna(axis = 1, how = "all", inplace=True)
    c = df.loc[:, "A"] = df.loc[:, "A"].fillna(df.loc[:, "A"].mean())
    d = df.loc[:, "B"] = df.loc[:, "B"].bfill()
    e = df.loc[:, "C"] = df.loc[:, "C"].fillna(0)
    f = df.isna().any().any()
   
    return  [a, b, c, d, e, f]

problem_3()

[A    1
 B    1
 C    2
 D    5
 dtype: int64,
 None,
 0    1.0
 1    2.0
 2    3.0
 3    4.0
 4    5.0
 Name: A, dtype: float64,
 0    2.0
 1    2.0
 2    3.0
 3    4.0
 4    5.0
 Name: B, dtype: float64,
 0    1.0
 1    2.0
 2    3.0
 3    0.0
 4    0.0
 Name: C, dtype: float64,
 np.False_]

In [289]:

"""
Problem 4: Hierarchical Indexing
Create and manipulate a DataFrame with hierarchical indexing (MultiIndex).
"""

def problem_4():
    # Create a multi-index DataFrame representing sales data
    # Outer index: region (North, South, East, West)
    # Inner index: product category (Electronics, Clothing, Food)
    # Columns: Q1, Q2, Q3, Q4 (quarterly sales)
    
    # Sample data structure
    index = pd.MultiIndex.from_product([
        ['North', 'South', 'East', 'West'],
        ['Electronics', 'Clothing', 'Food']
    ], names=['Region', 'Category'])
    
    # Generate some random sales data
    np.random.seed(42)  # for reproducibility
    sales_data = np.random.randint(100, 1000, size=(12, 4))
    
    df = pd.DataFrame(
        sales_data,
        index=index,
        columns=['Q1', 'Q2', 'Q3', 'Q4']
    )
    
    a = df.head(5)
    b = df.xs("North", level="Region")
    c = df.xs("Electronics", level="Category").loc[:, "Q2"]
    d = df.sum(axis = 1)
    e = df.xs("Food", level = "Category").sum(axis=1).idxmax()
    f = df.groupby(level='Category').mean()
    
    return  [a, b, c, d, e, f]

problem_4()

[                     Q1   Q2   Q3   Q4
 Region Category
 North  Electronics  202  535  960  370
        Clothing     206  171  800  120
        Food         714  221  566  314
 South  Electronics  430  558  187  472
        Clothing     199  971  763  230,
               Q1   Q2   Q3   Q4
 Category
 Electronics  202  535  960  370
 Clothing     206  171  800  120
 Food         714  221  566  314,
 Region
 North    535
 South    558
 East     513
 West     660
 Name: Q2, dtype: int32,
 Region  Category
 North   Electronics    2067
         Clothing       1297
         Food           1815
 South   Electronics    1647
         Clothing       2163
         Food           2481
 East    Electronics    2494
         Clothing       1486
         Food           1733
 West    Electronics    2348
         Clothing       2765
         Food           2619
 dtype: int64,
 'West',
                  Q1      Q2      Q3      Q4
 Category
 Clothing     326.50  574.75  599.50  427.00
 Electronics  544.75  566.50  656.50  371.25
 Food         692.50  259.75  643.25  566.50]

In [ ]:

"""
Problem 5: Data Reshaping with pivot_table and melt
Transform data between wide and long formats using pivot and melt operations.
"""

def problem_5():
    # Starting with a "long format" dataset of monthly sales by product
    data = {
        'month': ['Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar'],
        'product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
        'sales': [200, 120, 150, 210, 140, 130, 250, 160, 170]
    }
    df_long = pd.DataFrame(data)
    
    # TODO: Complete the following tasks
    # 1. Convert the long format to wide format with months as columns using pivot_table
    # 2. Calculate the total sales for each product across all months
    # 3. Calculate the month-over-month percent change in sales for each product
    # 4. Convert your wide format table back to long format using melt
    # 5. Create a pivot table that shows the sum, mean, and max sales for each product
    
    return  # Return your transformed DataFrames

data = {
    'month': ['Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar'],
    'product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'sales': [200, 120, 150, 210, 140, 130, 250, 160, 170]
}

df_long = pd.DataFrame(data)

df_long

part1 = df_long.pivot_table(
    values='sales',
    index='product',
    columns='month'
).reindex(columns=["Jan", "Feb", "Mar"])

part2 = df_long.groupby('product').sum().drop('month', axis=1)

  month product  sales
0   Jan       A    200
1   Jan       B    120
2   Jan       C    150
3   Feb       A    210
4   Feb       B    140
5   Feb       C    130
6   Mar       A    250
7   Mar       B    160
8   Mar       C    170

In [119]:

"""
Problem 6: Time Series Manipulation
Create and manipulate time series data, resample, and handle time-based operations.
"""

def problem_6():
    # Create a time series of daily stock prices for 30 days
    dates = pd.date_range(start='2023-01-01', periods=30, freq='D')
    np.random.seed(42)
    
    # Generate random stock prices with a slight upward trend
    initial_price = 100
    random_walks = np.random.normal(0.001, 0.02, size=30).cumsum()
    prices = initial_price * (1 + random_walks)
    
    stock_data = pd.Series(prices, index=dates, name='price')
    
    # TODO: Complete the following tasks
    # 1. Resample the daily data to get weekly average prices
    # 2. Calculate the daily percentage change in stock price
    # 3. Create a 3-day rolling average of the stock price
    # 4. Find the date with the highest and lowest stock prices
    # 5. Calculate the cumulative return from the start date
    # 6. Create a new Series showing only business days (no weekends)
    weekday_mean = stock_data.resample( rule = "W").mean()
    daily_change = stock_data.pct_change()
    rolling_3day_return = stock_data.rolling(len(stock_data), min_periods=3).mean()
    low, high = stock_data.index[stock_data.argmin()], stock_data.index[stock_data.argmax()]
    cum_returns = stock_data / stock_data.iloc[0] - 1
    weekday_index = stock_data[stock_data.index.weekday <= 4]

    output = {
        "weekday_mean": weekday_mean,
        "daily_change": daily_change, 
        "rolling_3day_return": rolling_3day_return, 
        "high_low": (low, high),
        "cum_returns": cum_returns,
        "weekday_index": weekday_index
    }
    
    return  output # Return your analyses


problem_6()

{'weekday_mean': 2023-01-01    101.093428
 2023-01-08    105.156362
 2023-01-15    107.433177
 2023-01-22     98.323242
 2023-01-29     94.326020
 2023-02-05     91.711186
 Freq: W-SUN, Name: price, dtype: float64,
 'daily_change': 2023-01-01         NaN
 2023-01-02   -0.001746
 2023-01-03    0.013827
 2023-01-04    0.030750
 2023-01-05   -0.003492
 2023-01-06   -0.003504
 2023-01-07    0.031115
 2023-01-08    0.015140
 2023-01-09   -0.007654
 2023-01-10    0.010895
 2023-01-11   -0.007519
 2023-01-12   -0.007619
 2023-01-13    0.005392
 2023-01-14   -0.034224
 2023-01-15   -0.031855
 2023-01-16   -0.010064
 2023-01-17   -0.019106
 2023-01-18    0.007369
 2023-01-19   -0.017231
 2023-01-20   -0.027838
 2023-01-21    0.031859
 2023-01-22   -0.003581
 2023-01-23    0.002403
 2023-01-24   -0.028038
 2023-01-25   -0.010374
 2023-01-26    0.003412
 2023-01-27   -0.023265
 2023-01-28    0.009210
 2023-01-29   -0.011804
 2023-01-30   -0.005243
 Freq: D, Name: price, dtype: float64,
 'rolling_3day_return': 2023-01-01           NaN
 2023-01-02           NaN
 2023-01-03    101.440868
 2023-01-04    102.445235
 2023-01-05    102.974194
 2023-01-06    103.265454
 2023-01-07    103.938987
 2023-01-08    104.648495
 2023-01-09    105.107118
 2023-01-10    105.592528
 2023-01-11    105.914515
 2023-01-12    106.113550
 2023-01-13    106.326881
 2023-01-14    106.243553
 2023-01-15    105.948013
 2023-01-16    105.625380
 2023-01-17    105.227429
 2023-01-18    104.914167
 2023-01-19    104.543562
 2023-01-20    104.073787
 2023-01-21    103.793099
 2023-01-22    103.521950
 2023-01-23    103.284598
 2023-01-24    102.952463
 2023-01-25    102.607348
 2023-01-26    102.301160
 2023-01-27    101.936096
 2023-01-28    101.627516
 2023-01-29    101.302242
 2023-01-30    100.982541
 Freq: D, Name: price, dtype: float64,
 'high_low': (Timestamp('2023-01-30 00:00:00'),
  Timestamp('2023-01-10 00:00:00')),
 'cum_returns': 2023-01-01    0.000000
 2023-01-02   -0.001746
 2023-01-03    0.012057
 2023-01-04    0.043177
 2023-01-05    0.039534
 2023-01-06    0.035891
 2023-01-07    0.068123
 2023-01-08    0.084295
 2023-01-09    0.075996
 2023-01-10    0.087719
 2023-01-11    0.079540
 2023-01-12    0.071315
 2023-01-13    0.077091
 2023-01-14    0.040229
 2023-01-15    0.007093
 2023-01-16   -0.003042
 2023-01-17   -0.022091
 2023-01-18   -0.014884
 2023-01-19   -0.031859
 2023-01-20   -0.058811
 2023-01-21   -0.028826
 2023-01-22   -0.032303
 2023-01-23   -0.029978
 2023-01-24   -0.057175
 2023-01-25   -0.066956
 2023-01-26   -0.063773
 2023-01-27   -0.085554
 2023-01-28   -0.077132
 2023-01-29   -0.088026
 2023-01-30   -0.092808
 Freq: D, Name: price, dtype: float64,
 'weekday_index': 2023-01-02    100.916900
 2023-01-03    102.312277
 2023-01-04    105.458336
 2023-01-05    105.090030
 2023-01-06    104.721756
 2023-01-09    108.776102
 2023-01-10    109.961222
 2023-01-11    109.134387
 2023-01-12    108.302927
 2023-01-13    108.886852
 2023-01-16    100.785881
 2023-01-17     98.860218
 2023-01-18     99.588713
 2023-01-19     97.872665
 2023-01-20     95.148058
 2023-01-23     98.062859
 2023-01-24     95.313363
 2023-01-25     94.324597
 2023-01-26     94.646442
 2023-01-27     92.444455
 2023-01-30     91.711186
 Name: price, dtype: float64}

In [ ]:

"""
Problem 7: Data Cleaning and String Operations
Clean messy data and use pandas string methods for text processing.
"""

def problem_7():
    # Dataset with messy string data
    data = {
        'customer_id': ['A001', 'A002', 'A003', 'A004', 'A005'],
        'name': ['John Smith', ' JANE DOE', 'Bob  Johnson', 'Alice Brown  ', '  David Lee'],
        'email': ['john.smith@example.com', 'jane.doe@example.com', 'bob@example', 'alice@wrong@format.com', 'david@example.com'],
        'phone': ['(555) 123-4567', '555.987.6543', '5551112222', '555-333-4444', 'NA'],
        'purchase_date': ['2023-01-15', '01/30/2023', '2023-02-15', '20230302', '2023.03.15']
    }
    df = pd.DataFrame(data)
    
    # TODO: Complete the following tasks
    # 1. Standardize all names (proper case, no extra spaces)
    # 2. Extract the domain from each email address
    # 3. Create a boolean column indicating if the email is valid (contains @ and a domain)
    # 4. Clean and standardize phone numbers to format: XXX-XXX-XXXX
    # 5. Convert all dates to datetime objects with a consistent format
    # 6. Create a new column with the number of days since purchase (from today)
    
    return  # Return your cleaned DataFrame

In [ ]:

"""
Problem 8: Group Operations with groupby
Demonstrate understanding of the split-apply-combine pattern with groupby.
"""

def problem_8():
    # Sales data by category, store, and date
    data = {
        'date': pd.date_range(start='2023-01-01', periods=20, freq='D').repeat(3),
        'store': ['Store_A', 'Store_B', 'Store_C'] * 20,
        'category': np.random.choice(['Electronics', 'Clothing', 'Food', 'Home'], size=60),
        'sales': np.random.randint(500, 5000, size=60),
        'units': np.random.randint(1, 50, size=60)
    }
    df = pd.DataFrame(data)
    
    # TODO: Complete the following tasks
    # 1. Calculate the total sales and units sold by store
    # 2. Find the best-selling category (by sales) in each store
    # 3. Calculate the average daily sales for each store-category combination
    # 4. Find the day of the week with the highest average sales
    # 5. Create a pivot table showing total sales by store (rows) and category (columns)
    # 6. Calculate the cumulative sales over time for each store
    
    return  # Return your analyses

In [ ]:

"""
Problem 9: Merging and Joining DataFrames
Combine multiple DataFrames using different join types.
"""

def problem_9():
    # Products DataFrame
    products = pd.DataFrame({
        'product_id': ['P001', 'P002', 'P003', 'P004', 'P005'],
        'product_name': ['Laptop', 'Tablet', 'Phone', 'Desktop', 'Printer'],
        'category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'price': [1200, 600, 800, 1500, 300]
    })
    
    # Sales DataFrame
    sales = pd.DataFrame({
        'sale_id': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007'],
        'product_id': ['P001', 'P002', 'P003', 'P001', 'P005', 'P006', 'P007'],
        'quantity': [3, 5, 2, 1, 4, 2, 1],
        'sale_date': pd.date_range(start='2023-01-01', periods=7, freq='D')
    })
    
    # Customers DataFrame
    customers = pd.DataFrame({
        'customer_id': ['C001', 'C002', 'C003', 'C004'],
        'name': ['John Smith', 'Jane Doe', 'Bob Johnson', 'Alice Brown'],
        'membership': ['Gold', 'Silver', 'Bronze', 'Gold']
    })
    
    # Customer purchases DataFrame
    purchases = pd.DataFrame({
        'sale_id': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007'],
        'customer_id': ['C001', 'C002', 'C001', 'C003', 'C002', 'C005', 'C006']
    })
    
    # TODO: Complete the following tasks
    # 1. Merge the sales and products DataFrames to get product details for each sale
    # 2. Calculate the total revenue for each product (price * quantity)
    # 3. Merge the sales data with customer information
    # 4. Find which products have no sales
    # 5. Find customers who have not made any purchases
    # 6. Create a summary of total spending by customer membership type
    
    return  # Return your merged DataFrames and analyses

In [ ]:

"""
Problem 10: Advanced Pandas Features
Use advanced features like categorical data, custom aggregations, and window functions.
"""

def problem_10():
    # Create a dataset of student exam scores
    np.random.seed(42)
    n_students = 1000
    
    # Generate student data
    student_ids = [f'S{i:04d}' for i in range(1, n_students+1)]
    grades = ['A', 'B', 'C', 'D', 'F']
    grade_weights = [0.15, 0.35, 0.30, 0.15, 0.05]  # Probability distribution
    
    data = {
        'student_id': student_ids,
        'gender': np.random.choice(['M', 'F'], size=n_students),
        'year': np.random.choice([1, 2, 3, 4], size=n_students),
        'major': np.random.choice(['CS', 'Eng', 'Math', 'Phys', 'Chem', 'Bio'], size=n_students),
        'exam1': np.random.randint(50, 101, size=n_students),
        'exam2': np.random.randint(50, 101, size=n_students),
        'final_exam': np.random.randint(50, 101, size=n_students),
        'grade': np.random.choice(grades, size=n_students, p=grade_weights)
    }
    
    df = pd.DataFrame(data)
    
    # TODO: Complete the following tasks
    # 1. Convert 'grade' and 'major' columns to categorical data type
    # 2. Calculate the average score for each exam (exam1, exam2, final_exam)
    # 3. Create a new column 'overall_score' which is a weighted average: 
    #    20% exam1, 30% exam2, 50% final_exam
    # 4. Rank students based on their overall score (1 being the highest)
    # 5. Group students by major and year, and calculate:
    #    - Average overall score
    #    - Percentage of students with each grade
    #    - Number of students
    # 6. Identify students who improved the most from exam1 to final_exam
    
    return  # Return your analyses

if __name__ == "__main__":
    # Uncomment the problem you want to work on
    # problem_1()
    # problem_2()
    # problem_3()
    # problem_4()
    # problem_5()
    # problem_6()
    # problem_7()
    # problem_8()
    # problem_9()
    # problem_10()