In [5]:
import pandas as pd

import numpy as np

In [26]:
data = pd.DataFrame(
    {"k1": ["one", "two"] * 3 + ["two"],
    "k2": [1, 1, 2, 3, 3, 4, 4]
    }
    )

data.duplicated()
data.drop_duplicates()

number_to_word_dict = {
    1: "one",
    2: "two",
    3: "three",
    4: "four"
}

data["k1"] = data["k1"].map(str.upper)
data["k2"] = data["k2"].map(number_to_word_dict)
data.index = data.index.map(lambda x: x*10)

data

     k1     k2
0   ONE    one
10  TWO    one
20  ONE    two
30  TWO  three
40  ONE  three
50  TWO   four
60  TWO   four

In [ ]:
val = "a, b,  guido"

pieces = [x.strip() for x in val.split(",")]

str("::").join(pieces)

print(pieces.index("b"))
print(val.index("b"))
print(val.find("b"))
pieces

1
3
3

b'ok'

In [58]:
import re

regex = re.compile(r"\s+")

re.IGNORECASE

re.IGNORECASE

In [119]:
# categoricals

# Series
fruit_names = pd.Series(["apple", "orange", "banan"])
values = pd.Series([0, 0, 1, 0, 1, 0, 1])


# DataFrame
df = pd.DataFrame({
    "fruit": ["apple", "orange"] * 3,
    "random": np.random.normal(size = 6)
})

df["fruit"] = df["fruit"].astype("category")
df["fruit"].array.codes

# create dictionary of the categories and codes 
dict(enumerate(df["fruit"].array.categories))

# create Categorical Series from codes
fruit_cat_series = pd.Categorical.from_codes(values, fruit_names, ordered=True)

fruit_cat_series = fruit_cat_series.rename_categories(
    {"banan": "plantain"}
)

dummies = pd.get_dummies(fruit_cat_series)
table1 = pd.concat([pd.Series(fruit_cat_series, name = "fruit"), dummies], axis = 1)
print(table1)

fruit_cat_series = fruit_cat_series.remove_unused_categories()
dummies = pd.get_dummies(fruit_cat_series)
table2 = pd.concat([pd.Series(fruit_cat_series, name = "fruit"), dummies], axis = 1)
print(table2)

    fruit  apple  orange  plantain
0   apple   True   False     False
1   apple   True   False     False
2  orange  False    True     False
3   apple   True   False     False
4  orange  False    True     False
5   apple   True   False     False
6  orange  False    True     False
    fruit  apple  orange
0   apple   True   False
1   apple   True   False
2  orange  False    True
3   apple   True   False
4  orange  False    True
5   apple   True   False
6  orange  False    True