In [ ]:
import pandas as pd

import numpy as np

import itertools as it

In [153]:
# creating hierachial index for a series

letters = ["a", "b", "c"]
numbers = [1, 2, 3]

combo = list(it.product(letters, numbers))

#combo_dict = dict(enumerate(list(combo)))

#combo.MultiIndex(levels = ("letter", "number"))
letters_long = [a for a, b in combo]
numbers_long = [b for a, b in combo]

#[letters_long, numbers_long]
dic = {"letter": letters_long, "number": numbers_long}
s = pd.Series(np.random.randint(0, 11, len(letters_long)), index=[letters_long, numbers_long], name="rando")
s.index.names = "letters", "numbers"

df = s.unstack(level=0)
df.columns = pd.MultiIndex.from_arrays([["Ohio", "Ohio", "Colorado"],
                          ["Green", "Red", "Green"]],
                          names=["state", "color"])



df.groupby(level = "color", axis=1).mean()

df = df.set_index(("Ohio", "Red")) # we can turn one of the columns into an index!

df.reset_index() # we can reverse this... and turn the index back into columns of the dataframe

C:\Users\paulb\AppData\Local\Temp\ipykernel_20988\2008838191.py:26: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df.groupby(level = "color", axis=1).mean()

state Ohio       Colorado
color  Red Green    Green
0        6     0        5
1        6     8       10
2        5     1        1

In [161]:
# combining dataframes

df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"],
    "data": pd.Series(range(7), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "d"],
    "data": pd.Series(range(3), dtype="Int64")})

pd.merge(df1, df2, how = "left", on = "key", indicator=True)

  key  data_x  data_y     _merge
0   b       0       1       both
1   b       1       1       both
2   a       2       0       both
3   c       3    <NA>  left_only
4   a       4       0       both
5   a       5       0       both
6   b       6       1       both

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"],
    "data": pd.Series(range(7), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "d"],
    "data": pd.Series(range(3), dtype="Int64")})

df2 = df2.set_index("key")

pd.merge(df1, df2, how = "left", left_on= "key", right_index=True, suffixes= ("_1", "_2"))

  key  data_1  data_2
0   b       0       1
1   b       1       1
2   a       2       0
4   a       4       0
5   a       5       0
6   b       6       1